  /* Inline styles specific to the index.html */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; 
    color: #F9F9F9; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; 
    overflow: hidden;
}

.content-box {
    padding: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative; 
    z-index: 1; 
    animation: floatAnimation 3s ease-in-out infinite; 
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.rays {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 215, 0, 0.3) 0%,
        rgba(255, 215, 0, 0.3) 5%,
        transparent 5%,
        transparent 100%
    );
    animation: raysSpin 5s linear infinite; 
    z-index: 0; 
}

@keyframes raysSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: gold; 
}

header h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.cta-button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #801336; /* Dark maroon */
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #660029; /* Darker maroon */
}